/*HTML allegmein*/
body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
}
a {
    text-decoration: none;
}

/* Header Bild + Links-----------------*/
header {
    height: auto;
    background-color: rgb(84, 106, 230);
}
/*Main--------------------------------------*/
main{
    height: 55vh;
    padding: 1em;
    background-color: rgb(255, 255, 255);
}
/*Footer--------------------------------------*/
footer {
    height: 10%;
    background-color: rgb(66, 66, 66);

}
.header_links {
    padding: 1em;
}
.wrapper_footer {
    padding: 1em;
}
img {
    width: 20%;
}
@media screen and (max-width: 1200px) {

    }