/*Allgemeiner CSS CODE, muss noch rüber in main css*/

@media screen and (max-width: 600px) {
  html, body{
    width: 106%;
    height: 105%;
  }
  header {
      height: auto;
      background-color: white;
      display: block;

      border-bottom: 5px solid #005ca9;
  }
  .links {
    background-color: red;
  }

}
