/*HTML allegmein*/
body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
}
a {
    text-decoration: none;
}
/* Header Bild + Links-----------------*/
header {

    background-color: rgb(188, 144, 238);
}
.img {
    width: 90%;
    height: auto;
}
.b {
    background-color: lightblue;
}
/*Main--------------------------------------*/
main{
    min-height: 5em;
    flex: 1;
    background-color: lightgray;
}
/*Footer--------------------------------------*/
footer {
    background-color: darkgrey;
}
@media screen and (max-width: 1200px) {

    }